# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CalculatorTutorial/.vs
*.lastbuildstate
*.tlog
*.recipe
*.ilk
*.log
*.idb
*.pdb
*.user
*.vcxproj
*.sln
*.filters
/C++/CalculatorTutorial/.idea
/C++/CalculatorTutorial/.vs
/CalculatorTutorial/.idea
